
<div class="d-flex flex-column align-items-center">
        <h3>Veuillez remplir ces champs pour vous inscrire</h3>
        <form [formGroup]="profileForm" (ngSubmit)="create()" class="d-flex flex-column align-items-center">

            <label for="first-name">Identifiant: </label>
            <input id="first-name" type="text" formControlName="id">
            <label for="first-name">Nom: </label>
            <input id="first-name" type="text" formControlName="nom">
            <label for="first-name">Prenom: </label>
            <input id="first-name" type="text" formControlName="prenom">
            <label for="first-name">Adresse: </label>
            <input id="first-name" type="text" formControlName="adresse">
            <label for="last-name">Mot de Passe: </label>
            <input id="last-name" type="password" formControlName="mdp">
          
            <p *ngIf="!profileForm.valid">Pour valider, veuiller remplir le formulaire</p>
            <button class="my-4 btn btn-primary" type="submit" [disabled]="!profileForm.valid">S'inscrire</button>
        </form>
</div>
