

header{
    margin-bottom: 15px;
}
h1{
    color: darken(#90c543,15%);
    font-family: 'Dancing Script', cursive ;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: -5px;
    margin-left: 15px;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    cursor:pointer;
    transition: 300ms;
    &:hover {
        color: #90c543;
        transform: scale(1.1);
    }
    a {
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}