<header>
    <div class="mb-4 d-flex justify-content-center align-items-center">
        <a href="/accueil" class="d-flex justify-content-center"><img src="https://zupimages.net/up/22/30/uej9.png" height="100" width="100"></a>
        <div>
            <h1>Le potager</h1>
            <h1>de Gaïa</h1>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
          <a class="navbar-brand w-25" (click)="accueil()"> Accueil </a>
      
          <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
          </button>
      
          <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav w-100 justify-content-around align-items-center"> <!--nav justify-content-around align-items-center text-center h-100-->
                <li class="nav-item"> <a (click)="catalogue();isMenuCollapsed = true"> Catalogue </a> </li>  
                <ng-container *ngIf="Logmessage =='Mon Compte'" class="d-flex">
                    <li class="nav-item">
                        <a (click)="monpanier();isMenuCollapsed = true" id="cart">Mon Panier <p *ngIf="size != 0">{{size}}</p></a>
                    </li>  
                </ng-container>
                <div ngbDropdown class="dropdown">
                    <button ngbDropdownToggle class="btn btn-primary" id="dropdownMenuButton1" aria-expanded="false">
                        {{Logmessage}}
                    </button>
                    <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                        <ng-container *ngIf="Logmessage !='Mon Compte'; else elseBlock" class="d-flex">
                            <li><a ngbDropdownItem (click)="connexion();isMenuCollapsed = true" >Connexion</a></li>
                            <li><a ngbDropdownItem (click)="inscription();isMenuCollapsed = true" >Inscription</a></li>
                        </ng-container>
                        <ng-template #elseBlock>
                            <li><a ngbDropdownItem (click)='deconnexion();isMenuCollapsed = true'>Deconnexion</a> </li>
                        </ng-template>    
                        <ng-container *ngIf="admin=='connected'">
                            <li><hr ngbDropdowndivider ></li>
                            <li><a ngbDropdownItem href='../admin/article'>Gestion articles</a> </li>
                            <li><a ngbDropdownItem (click)='deconnexionadmin();isMenuCollapsed = true'>Deconnexion Admin</a> </li>
                        </ng-container>                        
                    </ul>
                </div>
            </ul>
          </div>
        </div>
      </nav>
    
</header>