

header{
    margin-bottom: 15px;
}
h1{
    color: darken(#90c543,15%);
    font-family: 'Dancing Script', cursive ;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: -5px;
    margin-left: 15px;
}

ul {
    font-weight: 600;
}

.nav-item {
    color :#626262;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 130px;
    cursor:pointer;
    font-size:1.2rem;
    transition: 300ms;
    &:hover {
        color: #90c543;
        transition: 200ms;
        #cart p {
            color: #90c543;
            border-color: #90c543;
            transition: 300ms;
        }
    }
    a {
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

#cart {
    position: relative;
    p {
        position: absolute;
        top: 0;
        right:-15px;
        width:27px;
        height:27px;
        border: 2px solid #626262;
        border-radius: 50%;
        font-size: 0.9rem;
    }
}