<footer class="text-center text-dark mt-5 bg-secondary d-flex flex-column align-items-center">
    <h4 class="mx-5 pt-4">LE POTAGER DE GAIA</h4>
    <h6>Site d'e-commerce développé par Gaetan Cavailles et Kevin Le Van Phung dans le cadre d'une POEI pour intégrer la société Thalès</h6>
    <p>Powered by Angular - API on Spring Boot</p>
    <hr class="w-75">
    <!-- Copyright -->
    <div class="text-center text-dark p-3">
      © 2022 Copyright: Made by Gaëtan Cavailles and Kevin Le Van Phung
    </div>
    <!-- Copyright -->
  </footer>