<div class="d-flex flex-column align-items-center">
    <h3>Admin ? Connectez-vous:</h3>
    
    <form [formGroup]="profileForm" (ngSubmit)="connect()" class="d-flex flex-column align-items-center">

        <label for="first-name">Identifiant: </label>
        <input id="first-name" type="text" formControlName="id">
      
        <label for="last-name">Mot de Passe: </label>
        <input id="last-name" type="password" formControlName="mdp">
      
        <p *ngIf="!profileForm.valid">Pour valider, veuiller remplir le formulaire</p>
        <button class="my-4 btn btn-primary" type="submit" [disabled]="!profileForm.valid">Se connecter</button>
    </form>
<div>


