<form [formGroup]="profileForm" (ngSubmit)="connect()">
    <div class="d-flex flex-column align-items-center">
        <h3>Admin ? Connectez-vous:</h3>
        
    <p class="mb-0"><label for="identifiant">Identifiant</label></p>
    <input id = "identifiant" formControlName="identifiant" type = "text" [(ngModel)]="admin.id" required >
    <div *ngIf="identifiant.invalid && (identifiant.dirty || identifiant.touched)" class="alert alert-danger">
        <div *ngIf="identifiant.errors?.['required']">
            Name is required.
        </div>
    </div>
    <p class="mb-0"><label for="mdp">Mot de passe</label></p>
    <input id = "mdp" formControlName="password" type = "password" [(ngModel)]="admin.password" required >
    <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" >
            <span *ngIf="pass.errors?.['required']" class="validation">
                    *Le mot de passe doit etre rempli.*
            </span>
    </div>

    <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary" style="margin:0 auto;"> Connexion </button>
    </div>
</form>

