.articlecard {
    margin: 30px auto;
    @media screen and (max-width: 990px) {
        flex-direction: column;
    }
}

.articledesc {
    
    @media screen and (min-width: 990px) {
        min-width: 270px;
        width: 50%;
        height: 400px;
    }
    @media screen and (max-width: 990px) {
        width: clamp(250px, 100% ,500px);
    }
}

img {
    width: 500px;
    height: 500px;
    @media screen and (max-width: 990px) {
        width: 350px;
        height: 350px;
    }
}

#quantite {
    width: 65px;
    text-align: center;
}

.backbtn {
    display: block;
    width: 250px;
    margin: 25px auto;
    color: white;
}