<section class=" d-flex justify-content-center flex-wrap">
    <div class="articlecard align-items-center text-center w-75 d-flex justify-content-around" >
        <img
          class="my-4 mx-4 rounded-4"
          style="object-fit:cover;"
          src="../assets/images/{{article.image}}"
          alt="{{article.nom}}"
          width="500"
          height="500" />
        <div class="py-4 w-50 h-100 d-flex flex-column justify-content-between align-items-center">
            <h3>{{article.nom}}</h3>
            <p class="desc" >{{article.description}}</p>
            <div class="d-flex flex-column align-items-center w-100">
                <div class="desc d-flex align-items-center justify-content-center">
                    <h5 class="mt-2 mb-0 me-4">Prix:</h5>
                    <p class="mt-2 mb-0">{{article.prix}} €</p>
                </div>
                <div class="my-2">
                    <label class="me-2" for="quantite">Quantité :</label>
                    <input type="number" min="1" id="quantite" [(ngModel)]="quantite" placeholder="1">
                </div>
                <button class="btn btn-primary align-self-center" (click)="addToCart()">Ajouter au panier</button>
            </div>
        </div>
    </div>
    <div class="w-50 d-flex justify-content-center">
        <a href="/catalogue" class="btn btn-secondary backbtn">Revenir au catalogue</a>
    </div>
</section>