<div class="container">
	<h1 class="row justify-content-center mb-4">Votre panier</h1>
	<h3 class="my-4">{{header}}</h3>
    <div id="panier" class="col">
        <table class="my-4 table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Articles</th>
                    <th>Quantité</th>
                    <th>Sous-total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let achat of panier">
                    <td>{{achat.article.nom}}</td>
                    <td class="amountline"><button class="amount minus">-</button>{{achat.quantite}}<button class="amount plus">+</button></td>
                    <td>{{achat.total}} €</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center;"><strong>{{footer}}</strong></td>
                </tr>
                    
            </tbody>
        </table>
    </div>
	<div class="d-flex justify-content-center">
        <ng-container *ngIf="panier == null; else elseBlock">
            <button class="btn btn-info text-white" (click)='catalogue()'>Panier vide: Retourner au catalogue</button>
        </ng-container>
        <ng-template #elseBlock>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#validationModal">
                Valider le panier
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="validationModal" tabindex="-1" aria-labelledby="validationModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="validationModalLabel">Adresse de livraison</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        La livraison se fera à l'adresse suivante : {{client.adresse}}.
                        </div>
                        <div class="modal-footer justify-content-center">
                            <button type="button" class="btn btn-info text-white" data-bs-dismiss="modal">Retour à la commande</button>
                            <button type="button" class="btn btn-primary" (click)='validation()' data-bs-dismiss="modal">Valider la commande</button>
                        </div>
                    </div>
                </div>
            </div>
            <a class='btn btn-info text-white' (click)='reset()' role='button'>Vider le panier</a>
        </ng-template>	
	</div>
</div>
