<div class="container">
	<h1 class="row justify-content-center">Préparez votre assaut</h1>
	<h3>{{header}}</h3>
    <div id="panier" class="col">
    <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Articles</th>
                    <th>Quantité</th>
                    <th>Prix total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let achat of panier">
                    <td>{{achat.article.ref}}</td>
                    <td>{{achat.quantite}}</td>
                    <td>{{achat.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
	<div class="d-flex justify-content-end">
        <ng-container *ngIf="panier == null; else elseBlock">
            <a class='btn btn-secondary' (click)='monpanier()' role='button'>Panier vide</a>
        </ng-container>
        <ng-template #elseBlock>
            <a class='btn btn-success me-4' (click)='recap()' role='button'>Valider le panier</a>
            <a class='btn btn-danger' (click)='reset()' role='button'>Vider le panier</a>
        </ng-template>	
	</div>
</div>
