<h2 class="text-center my-4">Catalogue</h2>
<section class="menu-container d-flex flex-wrap justify-content-around">
    <div *ngFor="let article of articles">
        <div style="width: 350px; margin: 30px 15px;" class="bg-secondary bg-opacity-25 articlecard card align-items-center text-center" >
            <img class="my-4 rounded-4" style="object-fit:cover;" src={{article.image}} alt="Flowers" width="250" height="250"/>
            <h3>{{article.nom}}</h3>
            <p class="desc" >{{article.description}}</p>
            <h3 class="mb-4">{{article.prix}} €</h3>				
        </div>
    </div>
</section>