/* You can add global styles to this file, and also import other style files */
// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


$theme-colors: (
  "primary": #6ea820,
  "secondary": #6c757d,
  "success": #198754,
  "danger": #ff4136,
  "warning": #ffc107,
  "info": #0dcaf0,
  "dark": #212529,
  "light": #f8f9fa
);
@import "../node_modules/bootstrap/scss/bootstrap";
// Then add additional custom code here

a:not([href]):not([class]):hover{
    color: #6ea820;
    cursor: pointer;
}
