.container {
    margin-top: 100px;
    margin-bottom: 100px;
}

img {
    object-fit: cover;
    &.slider1 {
        @media screen and (max-width: 1400px) {
            transform: translateX(-110px);
        }
        @media screen and (max-width: 1200px) {
            transform: translateX(-275px);
        }
        @media screen and (max-width: 993px) {
            transform: translateX(-380px);
        }
        @media screen and (max-width: 768px) {
            transform: translateX(-536px)
        }
        @media screen and (max-width: 577px) {
            transform: translateX(-628px)
        }
    }
    &.slider2 {
        @media screen and (max-width: 1400px) {
            transform: translateX(-180px);
        }
        @media screen and (max-width: 1200px) {
            transform: translateX(-298px);
        }
        @media screen and (max-width: 993px) {
            transform: translateX(-485px);
        }
        @media screen and (max-width: 768px) {
            transform: translateX(-660px)
        }
        @media screen and (max-width: 577px) {
            transform: translateX(-715px)
        }
    }
}



button {
    background-color: #90c543!important;
}

.carousseldesc {
    z-index: 2;
    font-family: 'Amatic SC', cursive ;
    font-weight: 500;
    top:15%;
    left:5%;
    font-size: 4rem;
    position: absolute;
    color: black;
    display: block;
    @media screen and (max-width: 1000px) {
        font-size: 3rem;
        top: 30%;
    }
    @media screen and (max-width: 768px) {
        font-size: 2.5rem;
        top: 60%;
    }
    @media screen and (max-width: 577px) {
        font-size: 2rem;
    }
}